<div class="container">
    @if (loading) {
        <h5>Loading...</h5>
    }
    @if(!loading && product) {
        <div class="card" style="width: 18rem;">
            <img src="{{product.image}}" class="card-img-top" alt="{{product.title}}">
            <div class="card-body">
              <h4 class="card-title">${{product.price}}</h4>
              <h5 class="card-text">{{product.title}}</h5>
              <p class="card-text">{{product.description}}</p>
            </div>
        </div>
    }
</div>